blockquote.alignright, blockquote.alignleft, .alignleft.img, .alignright.img {
    width: 33%;
}
blockquote p{
    font-size: 130%;
    line-height: 180%;
    /* font-style: oblique; */
    font-weight: 600;
    text-align: center;
}
@media handheld, only screen and (max-width: 767px) {
    blockquote.alignright, blockquote.alignleft, .alignleft.img, .alignright.img {
        width: auto;
    }
    .project-box .project-content span h3{
        position: relative;
        z-index: 999999;
        opacity: 1;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;/*1px 1px 1px #000;*/
    }
    .project-content span {
        vertical-align: top;
    }
}

.full-width-image {
    margin: 1em 0 1.6em;
    overflow: hidden;
}
.full-width-image img {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    margin: 0;
}

